  
    <header>
        <img src="img/angular.svg"/>
            <h1>{{title}}</h1>
    </header>
    <main>
        <section class="todo-list" >
            <div class="todo-item completed" *ngFor="let todo of todos" [ngClass]= "{'completed':todo.completed}">{{todo.title}}</div>
            <button class="checkbox icon" (click)="toogle(todo)">
                <i class="material-icons" >check_box_outline_blank</i>
            </button>
            <span class="title">{{todo}}</span>
            <div class="action">
                <button class="delete icon" (click)="delete(todo)">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </section>
        
    </main>
